@font-face 
{
  font-family: UNCTitle;
  src: url('fonts/Aleo.ttf');
}
@font-face 
{
  font-family: UNCText;
  src: url('fonts/OpenSans.ttf');
}
:root
{
  --UNC-Blue:#0ca3e9;
  --UNC-Gold: #000000;
  --UNC-Gray: #7c7575;
}
*
{
    font-family: UNCText;
    color: var(--UNC-Gray);
}
h1, h2, h3, h4, h5, h6
{
    font-family: UNCTitle;
    color: var(--UNC-Blue);
    font-size: 35px;
    font-family: cursive;
}
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(1turn);
  }
h1 {
  animation: spin 5s ease;
  animation-iteration-count: infinite;
}

h1 {
  perspective: 1000px;
} 
